* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
}

.nav {
    padding: 20px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

nav span a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-right: 20px;
}

main {
    padding-top: 69px;
}

.hero {
    min-height: 300px;
    padding: 10px;
    background-color: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greet {
    /* height: 100px;
    width: 100%; */
    font-size: 24px;
    color: white;
}

.hero div h2 {
    font-size: 32px;
    text-shadow: 2px 2px rgba(180, 180, 180, .15);
}

.hero div p {
    font-size: 18px;
    letter-spacing: 1.75px;
}

.section {
    min-height: 300px;
    padding: 30px 60px;
}

.section_heading {
    /* display: inline-block; */
    background-image: linear-gradient(to top, #016b6b, #06afaf);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 26px;
    padding-bottom: 10px;
    border-bottom: 2px solid #06afaf;
    margin-bottom: 20px;
}

.container_about {
    display: flex;
    align-items: center;
}

.container_about .photo {
    height: 380px;
    width: 175px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* filter: brightness(1.1); */
    /* filter: invert(100); */
}

.container_about .about {
    padding: 30px;
    flex: 1;
    display: inline-block;
}

.about p {
    font-size: 14px;
    color: #444;
    margin: 10px 0;
}

.about h3 {
    font-size: 18px;
    color: teal;
    margin: 15px 0;
}

.about ul {
    /* list-style-type: none; */
    padding-left: 60px;
}

.link {
    text-decoration: none;
}


/* .contact {
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    margin: 0 auto;
} */

.contact div input {
    display: flex;
    margin: 15px 0;
    font-family: inherit;
    width: 400px;
    padding: 10px;
    /* border: 2px solid black; */
}

.contact div textarea {
    resize: none;
    padding: 10px;
    display: flex;
    font-family: inherit;
    width: 400px;
    /* border: 2px solid black; */
}

#btn {
    padding: 9px 24px;
    margin-top: 20px;
    background-color: #06afaf;
    color: #fff;
    font-family: inherit;
    font-size: 18px;
    /* width: 100px; */
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 300ms;
}

#btn:hover,
#btn:focus {
    /* background-color: rgb(58 148 148); */
    background-color: teal;
}

#about:target,
#contact:target,
#skills:target,
#experience:target {
    border-top: 69px solid transparent;
    margin-top: -69px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.edu_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    justify-items: center;
}

.card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px double #999;
    border-radius: 8px;
    text-align: center;
    /* margin: 15px; */
    width: 360px;
}

.card:hover {
    border-color: teal;
}

.icon_p {
    background-image: linear-gradient(to top, #016b6b, #06afaf);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 56px;
}

.card div h2 {
    margin: 15px 0;
    font-size: 20px;
    color: #232323;
}

.card div p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.experience_wrapper ul {
    padding-left: 40px;
    list-style-type: none;
}

.experience_wrapper ul li {
    font-size: 20px;
    padding-left: 30px;
    background-image: url(../images/star.svg);
    background-position: 0 5px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    color: #232323;
    font-weight: 400;
}

.experience_wrapper ul li p {
    font-size: 16px;
    color: #444;
    margin: 10px 0;
}

.skills_wrapper {
    display: flex;
    justify-content: center;
}

.skills_wrapper h3 {
    margin-right: 30px;
    font-size: 20px;
    color: #666;
}

.star {
    color: goldenrod;
}

.skill_item {
    display: flex;
    margin: 10px 0;
}

.skill_item>span {
    width: 100px;
    margin-right: 15px;
}

.skill_list {
    margin-right: 80px;
}


/* .d_f {
    display: flex !important;
} */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666;
    padding: 30px 60px;
}

.footer_content {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #f5f5f5;
}

.footer_content a {
    text-decoration: none;
    color: rgb(0, 255, 255);
    font-size: 14px;
}

.footer_content a:hover {
    border-bottom: 2px solid currentColor;
}