.sec {
    padding: 4rem 6rem;
    min-height: 24rem;
    @include respond(tab) {
        padding: 3rem 4rem;
    }
}

.sec-about {
    background-color: #f5f5f5;
}

.sec-about-container {
    display: flex;
    flex-wrap: wrap-reverse;
}

.about-info {
    flex: 1;
    min-width: 32rem;
    margin-right: 6rem;
    font-weight: $fw-default;
    @include respond(tab) {
        margin-right: 0;
    }
}

.about-img {
    flex: 0 0 30rem; // flex-grow, flex-shrink, flex-basis (just like width for flex items)
    height: 40rem;
    width: 30rem;
    filter: contrast(1.1) brightness(1.05);
    border: 1.2rem solid #fff;
    border-radius: 4px;
    box-shadow: 2px 4px 8px 4px rgba(180, 180, 180, .25);
}

.sec-education {
    margin: 4rem 0;
    background-color: $c-4;
    min-height: 48rem;
    transform: skewY(6deg);
    &>* {
        transform: skewY(-6deg);
    }
    .sec-heading {
        color: #fff;
    }
    &-container {
        padding-bottom: 3rem;
    }
}