body {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
}

nav {
    background-color: #333;
    color: #f1f1f1;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 20px;
}

nav span {
    display: block;
}

nav span a {
    display: block;
    text-decoration: none;
    outline: none;
    color: inherit;
}

main section {
    padding: 35px;
}