// Fonts
$font: 'Work Sans',
sans-serif;
$fw-normal: 300;
$fw-default:400;
$fw-semi-bold: 500;
$fw-bold: 700;
//
// Colors
$c-1: #59114d;
$c-2: #e98a15;
$c-3: #ECE5F0;
$c-4: #003B36;
$c-5:#012622;
$c-grey: #ccc;
$c-dark-grey: #656565;
$c-black: #575050;
$c-white: #ECE5F0;
$c-body: #f5f5f5;