.sec-projects-container {
    display: flex;
    flex-wrap: wrap;
    .card {
        margin: 20px;
        width: 24rem;
        &-img-top {
            height: 22rem;
            margin: 0;
            overflow: hidden;
            img {
                height: inherit;
                object-fit: cover;
                max-width: 100%;
            }
        }
        &-title {
            font-size: 2rem !important;
            font-weight: $fw-semi-bold;
            height: 5rem;
        }
        &-body .btn {
            display: block;
            margin: 0 auto;
            width: 70px;
            text-align: center;
            font-size: 1.5rem;
            background-color: $c-4;
            color: $c-white;
            box-shadow: 2px 4px 8px lighten($c-4, 80%);
            transition: transform 300ms;
            &:hover {
                transform: scale(1.05);
            }
        }
        &-text {
            height: 10rem;
        }
    }
}

.proj_container {
    min-height: 42rem;
    display: flex;
    justify-content: space-between;
}